* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(140deg, #a99fe2 40%, #2575fc 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  background: rgba(255, 255, 255, 0.788);
  border-radius: 40px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 10px 25px 50px rgba(250, 8, 8, 0.5);
  flex-direction: column;
  padding: 50px 40px;

  & h1 {
    font-size: 38px;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    color: rgb(59, 51, 51);
  }

  & p {
    text-align: center;
    font-size: 20px;
    color: rgb(59, 51, 51);
    line-height: 1.6;
  }

  & .feature {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    & a {
        color: #6a11cb;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
      }
  }
} 

.footer {
  text-align: center;
  margin-top: 25px;
  color: #ffffff;
  font-size: 16px;

  & a {
    color: #6a11cb;
    text-decoration: none;
  }
}