* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(140deg, #a99fe2 40%, #2575fc 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-section {
  display: flex;
  background: rgba(255, 255, 255, 0.788);
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 10px 25px 50px rgba(250, 8, 8, 0.5);
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.login-header {
  text-align: center;
  margin-bottom: 40px;

  & h1 {
    margin-bottom: 10px;
  }

  & p {
    color: #636e72d5;
    font-size: 16px;
  }
}

form {
  margin-bottom: 25px;
}

.login-main {
  margin-bottom: 25px;

  & label {
    font-weight: 600;
    font-size: 20px;
  }

  & input {
    width: 100%;
    padding: 15px;
    border: 2px solid #98a8af;
    border-radius: 10px;
    font-size: 16px;
  }
}

.button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-buttons {
  display: flex;
  gap: 15px;

  & .button-authorization {
    background: linear-gradient(140deg, #a99fe2 20%, #2575fc 50%);
    color: white;

    & a {
      color: white;
      text-decoration: none;
    }
  }

  & .button-registration {
    background: white;
    border: 2px solid #6a11cb;

    & a {
      color: #081c3d;
      text-decoration: none;
    }
  }
}
