.section {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
}

.section-main {
    display: flex;
    flex-direction: column;
}

.section-chat {
    display: flex;
}