.container {
  & h2 {
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  & p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: rgb(59, 51, 51);
    line-height: 1.6;
    opacity: 0.9;
  }
}